doctype html
html
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        title Medic

        //link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

        link(rel='stylesheet', href='assets/css/materialize.min.css')
        link(rel='stylesheet', href='assets/css/user.css')

    body
        header
            nav.nav-extended
                .nav-wrapper
                    a.brand-logo(href='/') Pharm Comunnity
                    a.sidenav-trigger(href='#', data-target='slide-out')
                        i.material-icons menu
                    ul.right.hide-on-med-and-down
                        li
                            a(href='#').waves-effect.waves-light.btn.red.lighten-2
                                i.material-icons.left description
                                | Як користуватись?
                        li
                            a(href='#')
                                | База матеріалів
                                i.material-icons.right school
                        li
                            a.sidenav-trigger.trigger-my-profile(href='#', data-target='slide-out')
                                | Мій профіль
                                i.material-icons.right assignment_ind
                        li
                            a(href='mobile.html')
                                | Вийти
                                i.material-icons.right exit_to_app
                .nav-content
                    ul.tabs.tabs-transparent.sub-nav
                        li.tab
                            a.active(href='#test1') Головна
                        li.tab
                            a(href='#test1') Календар
                        li.tab
                            a(href='#test2') Збережені матеріали
                        li.tab
                            a(href='#test3') Підтримка
            ul#slide-out.sidenav
                li
                    .user-view
                        .background
                            img(src='assets/img/1.jpg')
                        a(href='#user')
                            img.circle(src='assets/img/yuna.jpg')
                        a(href='#name')
                            span.white-text.name John Doe
                        a(href='#email')
                            span.white-text.email jdandturk@gmail.com
                li
                    a(href='#!')
                        i.material-icons cloud
                        | First Link With Icon
                li
                    a(href='#!') Second Link
                li
                    .divider
                li
                    a.subheader Subheader
                li
                    a.waves-effect(href='#!') Third Link With Waves
            ul#mobile-demo.sidenav
                li
                    a(href='sass.html') Sass
                li
                    a(href='badges.html') Components
                li
                    a(href='collapsible.html') Javascript
                li
                    a(href='mobile.html') Mobile
        main
            .container
                .row
                    blockquote
                        | This is an example quotation that uses the blockquote tag.
                .row
                    h2 Важливі повідомлення
                    .card-panel
                        span.red-text.flow-text Всім прийти завтра на роботу. Юрій Іванович
                .row
                    h2 Курси
                    .col.s12.m4
                        .card
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src='assets/img/preparation-logo/naftazin.jpg')
                                a.btn-floating.halfway-fab.waves-effect.waves-light.red.tooltipped.btn(data-tooltip='Додати в збережені')
                                    i.material-icons add

                            .card-content
                                span.card-title.activator.grey-text.text-darken-4
                                    | Нафтазін

                                    i.material-icons.right more_vert
                            .card-action
                                | Тест потрібно пройти
                                span.red-text.text-lighten-1  29.12.2018
                            .card-action
                                a(href='#') Пройти курс
                                a(href='#') Перейти до тесту
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | Нафтазін
                                    i.material-icons.right close
                                p
                                    | Тут буде опис чи коротке повідомлення. Чи текс який не сильно важливий

                    .col.s12.m4
                        .card
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src='assets/img/preparation-logo/naftazin.jpg')
                                a.btn-floating.halfway-fab.waves-effect.waves-light.red.tooltipped.btn(data-tooltip='Додати в збережені')
                                    i.material-icons add

                            .card-content
                                span.card-title.activator.grey-text.text-darken-4
                                    | Нафтазін

                                    i.material-icons.right more_vert
                            .card-action
                                | Тест потрібно пройти
                                span.red-text.text-lighten-1  29.12.2018
                            .card-action
                                a(href='#') Пройти курс
                                a(href='#') Перейти до тесту
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | Нафтазін
                                    i.material-icons.right close
                                p
                                    | Тут буде опис чи коротке повідомлення. Чи текс який не сильно важливий

                    .col.s12.m4
                        .card
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src='assets/img/preparation-logo/naftazin.jpg')
                                a.btn-floating.halfway-fab.waves-effect.waves-light.red.tooltipped.btn(data-tooltip='Додати в збережені')
                                    i.material-icons add

                            .card-content
                                span.card-title.activator.grey-text.text-darken-4
                                    | Нафтазін

                                    i.material-icons.right more_vert
                            .card-action
                                | Тест потрібно пройти
                                span.red-text.text-lighten-1  29.12.2018
                            .card-action
                                a(href='#') Пройти курс
                                a(href='#') Перейти до тесту
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | Нафтазін
                                    i.material-icons.right close
                                p
                                    | Тут буде опис чи коротке повідомлення. Чи текс який не сильно важливий

                    .col.s12.m4
                        .card
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src='assets/img/preparation-logo/naftazin.jpg')
                                a.btn-floating.halfway-fab.waves-effect.waves-light.red.tooltipped.btn(data-tooltip='Додати в збережені')
                                    i.material-icons add

                            .card-content
                                span.card-title.activator.grey-text.text-darken-4
                                    | Нафтазін

                                    i.material-icons.right more_vert
                            .card-action
                                | Тест потрібно пройти
                                span.red-text.text-lighten-1  29.12.2018
                            .card-action
                                a(href='#') Пройти курс
                                a(href='#') Перейти до тесту
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | Нафтазін
                                    i.material-icons.right close
                                p
                                    | Тут буде опис чи коротке повідомлення. Чи текс який не сильно важливий

                    .col.s12.m4
                        .card
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src='assets/img/preparation-logo/naftazin.jpg')
                                a.btn-floating.halfway-fab.waves-effect.waves-light.red.tooltipped.btn(data-tooltip='Додати в збережені')
                                    i.material-icons add

                            .card-content
                                span.card-title.activator.grey-text.text-darken-4
                                    | Нафтазін

                                    i.material-icons.right more_vert
                            .card-action
                                | Тест потрібно пройти
                                span.red-text.text-lighten-1  29.12.2018
                            .card-action
                                a(href='#') Пройти курс
                                a(href='#') Перейти до тесту
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | Нафтазін
                                    i.material-icons.right close
                                p
                                    | Тут буде опис чи коротке повідомлення. Чи текс який не сильно важливий
                hr
            .container
                .row
                    h2 Тести
                    .col.s12.m3
                        .card
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src='assets/img/preparation-logo/naftazin.jpg')
                                a.btn-floating.halfway-fab.waves-effect.waves-light.red.tooltipped.btn(data-tooltip='Створити нагадування')
                                    i.material-icons add
                            .card-content
                                span.card-title.activator.grey-text.text-darken-4
                                    | Нафтазін
                                    i.material-icons.right more_vert
                            .card-action
                                a(href='#') Розпочати тест
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | Нафтазін
                                    i.material-icons.right close
                                p
                                    | Опис тесту. Можливо якісь рекомендації від автора

                    .col.s12.m3
                        .card
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src='assets/img/preparation-logo/naftazin.jpg')
                                a.btn-floating.halfway-fab.waves-effect.waves-light.red.tooltipped.btn(data-tooltip='Створити нагадування')
                                    i.material-icons add
                            .card-content
                                span.card-title.activator.grey-text.text-darken-4
                                    | Нафтазін
                                    i.material-icons.right more_vert
                            .card-action
                                a(href='#') Розпочати тест
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | Нафтазін
                                    i.material-icons.right close
                                p
                                    | Опис тесту. Можливо якісь рекомендації від автора

                    .col.s12.m3
                        .card
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src='assets/img/preparation-logo/naftazin.jpg')
                                a.btn-floating.halfway-fab.waves-effect.waves-light.red.tooltipped.btn(data-tooltip='Створити нагадування')
                                    i.material-icons add
                            .card-content
                                span.card-title.activator.grey-text.text-darken-4
                                    | Нафтазін
                                    i.material-icons.right more_vert
                            .card-action
                                a(href='#') Розпочати тест
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | Нафтазін
                                    i.material-icons.right close
                                p
                                    | Опис тесту. Можливо якісь рекомендації від автора

                    .col.s12.m3
                        .card
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src='assets/img/preparation-logo/naftazin.jpg')
                                a.btn-floating.halfway-fab.waves-effect.waves-light.red.tooltipped.btn(data-tooltip='Створити нагадування')
                                    i.material-icons add
                            .card-content
                                span.card-title.activator.grey-text.text-darken-4
                                    | Нафтазін
                                    i.material-icons.right more_vert
                            .card-action
                                a(href='#') Розпочати тест
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | Нафтазін
                                    i.material-icons.right close
                                p
                                    | Опис тесту. Можливо якісь рекомендації від автора

                    .col.s12.m3
                        .card
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src='assets/img/preparation-logo/naftazin.jpg')
                                a.btn-floating.halfway-fab.waves-effect.waves-light.red.tooltipped.btn(data-tooltip='Створити нагадування')
                                    i.material-icons add
                            .card-content
                                span.card-title.activator.grey-text.text-darken-4
                                    | Нафтазін
                                    i.material-icons.right more_vert
                            .card-action
                                a(href='#') Розпочати тест
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | Нафтазін
                                    i.material-icons.right close
                                p
                                    | Опис тесту. Можливо якісь рекомендації від автора

                    .col.s12.m3
                        .card
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src='assets/img/preparation-logo/naftazin.jpg')
                                a.btn-floating.halfway-fab.waves-effect.waves-light.red.tooltipped.btn(data-tooltip='Створити нагадування')
                                    i.material-icons add
                            .card-content
                                span.card-title.activator.grey-text.text-darken-4
                                    | Нафтазін
                                    i.material-icons.right more_vert
                            .card-action
                                a(href='#') Розпочати тест
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | Нафтазін
                                    i.material-icons.right close
                                p
                                    | Опис тесту. Можливо якісь рекомендації від автора

                hr
            .container
                .row
                    h2 Cаморозвиток
                    .col.s12.m3
                        .card
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src='assets/img/preparation-logo/naftazin.jpg')
                                a.btn-floating.halfway-fab.waves-effect.waves-light.red
                                    i.material-icons add
                            .card-content
                                span.card-title.activator.grey-text.text-darken-4
                                    | Card Title
                                    i.material-icons.right more_vert
                            .card-action
                                a(href='#') This is a link
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | Card Title
                                    i.material-icons.right close
                                p
                                    | Here is some more information about this product that is only revealed once clicked on.

                    .col.s12.m3
                        .card
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src='assets/img/preparation-logo/naftazin.jpg')
                                a.btn-floating.halfway-fab.waves-effect.waves-light.red
                                    i.material-icons add
                            .card-content
                                span.card-title.activator.grey-text.text-darken-4
                                    | Card Title
                                    i.material-icons.right more_vert
                            .card-action
                                a(href='#') This is a link
                                a(href='#') This is a link
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | Card Title
                                    i.material-icons.right close
                                p
                                    | Here is some more information about this product that is only revealed once clicked on.

                    .col.s12.m3
                        .card
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src='assets/img/preparation-logo/naftazin.jpg')
                                a.btn-floating.halfway-fab.waves-effect.waves-light.red
                                    i.material-icons add
                            .card-content
                                span.card-title.activator.grey-text.text-darken-4
                                    | Card Title
                                    i.material-icons.right more_vert
                            .card-action
                                a(href='#') This is a link
                                a(href='#') This is a link
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | Card Title
                                    i.material-icons.right close
                                p
                                    | Here is some more information about this product that is only revealed once clicked on.

                    .col.s12.m3
                        .card
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src='assets/img/preparation-logo/naftazin.jpg')
                                a.btn-floating.halfway-fab.waves-effect.waves-light.red
                                    i.material-icons add
                            .card-content
                                span.card-title.activator.grey-text.text-darken-4
                                    | Card Title
                                    i.material-icons.right more_vert
                            .card-action
                                a(href='#') This is a link
                                a(href='#') This is a link
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | Card Title
                                    i.material-icons.right close
                                p
                                    | Here is some more information about this product that is only revealed once clicked on.

                    .col.s12.m3
                        .card
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src='assets/img/preparation-logo/naftazin.jpg')
                                a.btn-floating.halfway-fab.waves-effect.waves-light.red
                                    i.material-icons add
                            .card-content
                                span.card-title.activator.grey-text.text-darken-4
                                    | Card Title
                                    i.material-icons.right more_vert
                            .card-action
                                a(href='#') This is a link
                                a(href='#') This is a link
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | Card Title
                                    i.material-icons.right close
                                p
                                    | Here is some more information about this product that is only revealed once clicked on.




        footer.page-footer
            .container
                .row
                    .col.m4.s12
                        h5.white-text Pharm Community
                        ul.social
                            li
                                a.waves-effect.waves-light.btn.red.lighten-2
                                    | YouTube

                            li
                                a.waves-effect.waves-light.btn.red.lighten-2
                                    | Facebook
                            li
                                a.waves-effect.waves-light.btn.red.lighten-2
                                    | Instagram
                    .col.m4.s12
                        h5.white-text Офіційні документи
                        ul
                            li
                                a.grey-text.text-lighten-3(href='#!') Документи
                            li
                                a.grey-text.text-lighten-3(href='#!') Ліцензія
                            li
                                a.grey-text.text-lighten-3(href='#!') Конфіденційність
                            li
                                a.grey-text.text-lighten-3(href='#!') Угода
                    .col.m4.s12
                        .row
                            .col.s12
                                h5.white-text Підписатись на розсилку
                            .input-field.col.s12
                                i.material-icons.prefix textsms
                                input#autocomplete-input.autocomplete(type='text', placeholder='Введіть свою почту')
                            .col.s12
                                small Ми ніколи не будемо ділитися вашою електронною поштою з ким-небудь ще.
            .footer-copyright
                .container
                    | Всі права захищені | 2018 | Зроблено з любовю
    script(src='assets/js/jquery-3.3.1.min.js')
    script(src='assets/js/materialize.min.js')
    script(src='assets/js/user-main.js')
