body,
main {
  background-color: #f6f2f2;
}

header {
  padding-bottom: 10px;
}

.nav-link--info-user {
  display: flex;
  img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #fff;
  }
}

.medicine {
  .medicine__title {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .card {
    margin-bottom: 20px;
    min-width: 310px;

    img {
      margin: 0 auto;
      width: 305px;
      height: 200px;
    }
  }
}

#items-pharmacy {
  margin-bottom: 0 !important;

  .modal-content {
    background-color: #f6f2f2;
  }

  .modal-dialog {
    max-width: 90%;
  }

  .card {
    min-width: 300px;
    max-width: 300px;
    margin-bottom: 20px;
    border-color: #ccc;
  }

  .card-body {
    margin-top: 5px;
    border-top: 0.5px solid #ccc;
  }
}