section.about
    .container
        h2.section__title Що особливого?
        hr
        p.section__preview Компанія Pharm Community (PharmCom), на базі технології «Digital Learning», пропонує новий формат навчання працівників аптечної сфери, що відрізняється від інших
        .row
            .col-md-3.wow.bounceInUp(data-wow-delay="0.2s")
                a(href="#")
                    img(src="assets/img/hourglass.svg", alt="hourglass")
                    h5 Зберегти час
                    p Життя коротке і ми це знаємо
            .col-md-3.wow.bounceInUp(data-wow-delay="0.2s")
                a(href="#")
                    img(src="assets/img/open-book.svg")
                    h5 Нові методи та принципи навчання
                    p Навчання ще ніколи не було таким цікавим та захопливим
            .col-md-3.wow.bounceInUp(data-wow-delay="0.2s")
                a(href="#")
                    img(src="assets/img/coding.svg")
                    h5 Зручний та простий інтерфейс
                    p Ви знайдете все що потрібно і нічого зайвого
            .col-md-3.wow.bounceInUp(data-wow-delay="0.2s")
                a(href="#")
                    img(src="assets/img/list.svg")
                    h5 Практичні завдання і не тільки
                    p Після кожного навчального курсу вас чекають практичні завдання і .....:)
            .col-md-3.wow.bounceInUp(data-wow-delay="0.2s")
                a(href="#").link
                    img(src="assets/img/smartphones.svg")
                    h5 Адаптивність
                    p Вчіться завжди, навіть коли ви не в дома
            .col-md-3.wow.bounceInUp(data-wow-delay="0.2s")
                a(href="#")
                    img(src="assets/img/recommended.svg")
                    h5 Якісні матеріали
                    p Ми гарантуємо актуальність і якість інформації
            .col-md-3.wow.bounceInUp(data-wow-delay="0.2s")
                a(href="#")
                    img(src="assets/img/trendy.svg")
                    h5 Завжди в тренді
                    p Наш сайт завжди буде відповідати сучасним стандартам
            .col-md-3.wow.bounceInUp(data-wow-delay="0.2s")
                a(href="#")
                    img(src="assets/img/customer-service.svg")
                    h5 Підтримка 24/7
                    p Ми завжди вам допоможемо. Задавайте свої питання.
    div.banner
        | Залиш конкурентів по заду!!!
        a(href="#")#js-button-registration2.btn.btn-light.wow.fadeInRightBig(data-wow-delay="0.2s") Чому за цим майбутнє?


