section.advantages
    .container
        ul.list-unstyled.section-items
            li.section-items__item
                .section-items__text.wow.bounceInRight(data-wow-delay="0.2s")
                    h2.section-items__title Компанії виробнику/Маркетинговій компанії
                    p.section-items__paragraph Світ не стоїть на місці, Digital-технології пронизують усі сфери життя. Ви справді хочете залишитись на самоті із застарілими методами промоції? Ми пропонуємо революційний підхід! Ви з нами?
                .section-items__img.wow.bounceInLeft(data-wow-delay="1s")
                    img(src="assets/img/production_isometr_test.png")
            li.section-items__item
                .section-items__text.wow.bounceInRight(data-wow-delay="0.2s")
                    h2.section-items__title Аптечній мережі
                    p.section-items__paragraph  Спочатку приходять не клієнти, першими приходять співробітники! Ви і далі готові витрачати найпродуктивніші години роботи найкращих співробітників на балачки, які не приносять знань? Чи приєднаєтесь до нас?
                .section-items__img.wow.bounceInLeft(data-wow-delay="1s")
                    img(src="assets/img/pharmacy.svg")
            li.section-items__item
                .section-items__text.wow.bounceInRight(data-wow-delay="0.2s")
                    h2.section-items__title Фармацевту/Провізору
                    p.section-items__paragraph Представники різні, інформація та ж сама, корисної нуль! Здобудь справді актуальні знання у зручний для себе час! Давай із нами!
                .section-items__img.wow.bounceInLeft(data-wow-delay="0.2s")
                    img(src="assets/img/provizor.jpg")
    div.banner
        | Xочу спробувати!!!
        a(href="#")#js-button-registration1.btn.btn-light.wow.fadeInRightBig(data-wow-delay="0.2s")  Зареєструватися
