header
    .header-wrapepr.pt-3.pb-3
        .container
            nav.navbar.navbar-expand-lg.p-0
                a.navbar-brand(href='#')
                    .header__brand-name
                        span Pharm
                        hr
                        span Community
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item.active
                            a.nav-link.nav-link--course(href='#') Курси
                        li.nav-item
                            a.nav-link.nav-link--materials(href='#') Матеріали
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link.nav-link--registration(href='#', data-toggle='modal', data-target='#modal-registration') Реєстрація
                        li.nav-item
                            a.nav-link.nav-link--login(href='#', data-toggle='modal', data-target='#modal-login') Увійти
    .container
        div.header__content.row
            .col-md-6.header__logo.wow.zoomInDown(data-wow-delay="0.2s")
                div
                    img.banner-logo(src='assets/img/logo.png', alt="Logo Pharm Comunnity")
                    div.header__brand-name
                        | <span>Pharm</span><hr><span>Community</span><br>
                        span.logo-sub-text Інтерактивна професійна платформа
            .col-md-6.wow.zoomInDown(data-wow-delay="0.2s")
                .header__message
                    | Нова фармацевтична платформа,
                    br
                    | яка не має аналогів в Україні.
                    br
                    | Допоможе покращити медичну індустрію.
                a(href="#").btn.btn-success Дізнатись детальніше