main {
  z-index: 2;
  background-color: #fff;
}

.footer {
  color: #fff;
  background-color: #2d2d44;
  padding-top: 60px;
  padding-bottom: 30px;

  .footer__logo {
    display: flex;
  }

  .footer__brand-name {
    font-size: 2rem;
    line-height: 1;
    padding-top: 10px;
    text-transform: uppercase;
    color: #319d57;
    font-weight: bold;
    hr {
      margin-top: 0;
      margin-bottom: 0;
      border-color: #319d57;
      border-width: 2px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: -2px;
        left: 0;
        height: 2px;
        width: 111px;
        background-color: #3f5972;
      }
    }
    span:first-child {
      color: #3f5972;
    }

    small {
      display: block;
      margin-bottom: 10px;
      color: #fff;
      font-size: 1rem;
      text-transform: lowercase;
    }
  }

  .social {
    display: flex;
    justify-content: space-between;
  }

  hr {
    border-width: 2px;
    border-color: #414157;
  }

  .footer-logo {
    display: block;
    text-align: center;
    margin-bottom: 20px;

    a {
      text-decoration: none;
    }
  }

  .social__link {
    font-size: 0;
    display: block;
    width: 40px;
    height: 40px;
    background: transparent url(../img/instagram.svg) top left no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    &:hover {
      filter: blur(1px) grayscale(100%);
    }
  }

  .social__link--fc {
    background-image: url(../img/facebook-logo.svg);
  }

  .social__link--youtube {
    background-image: url(../img/youtube.svg);
  }

  .col-md-8 {
    display: flex;
  }

  .docs {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .docs__title,
  .docs__link {
    color: #fff;
    font-size: 18/16 + 0rem;
  }

  .docs__title {
    font-weight: bold;
  }

  .copyright {
    text-align: center;
    font-size: 18/16 + 0rem;

    .heart {
      display: inline-block;
      width: 30px;
      height: 30px;
      background: transparent url(../img/heart.svg) bottom left no-repeat;
      margin-bottom: -5px;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }
}