body {
  color: #333;
}

header {
  width: 100%;
  min-height: 95vh;
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  &:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
  }
  &:after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    filter: blur(3px);
    position: absolute;
    background: transparent url("../img/bg-header.jpg") center center/cover no-repeat;
  }


  .navbar-brand .header__brand-name {
    padding-top: 0;
    font-size: 17px;
    color: lighten(#319d57, 30%);

    hr {
      background-color: lighten(#319d57, 30%);
    }
    hr:before {
      width: 63px;
      background-color: lighten(#3f5972, 40%);
    }

    span:first-child {
      color: lighten(#3f5972, 40%);
    }
  }

  .header-wrapepr {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .navbar-toggler-icon {
    background-image: url(../img/menu.svg);
  }
  .nav-item {
    margin-right: 15px;
  }

  .nav-link {
    padding-left: 30px !important;
    font-size: 1.1rem;
    color: #fff;
    position: relative;

    &:before {
      content: "";
      bottom: 12px;
      left: 5px;
      position: absolute;
      width: 20px;
      height: 20px;
      background: transparent center center no-repeat;
      background-size: cover;
    }

    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }
  }

  .nav-link--materials:before {
    background-image: url(../img/books-stack.svg);
  }

  .nav-link--course:before {
    background-image: url(../img/online-course.svg);
  }

  .nav-link--registration:before {
    background-image: url(../img/add-user-symbol.svg);
  }

  .nav-link--login:before {
    background-image: url(../img/web-log-in.svg);
  }

  .header__content {
    padding-top: 110px;
    padding-bottom: 125px;

    .btn.btn-success {
      font-size: 1.5rem;
      margin-top: 30px;
      padding: 0.475rem 2.15rem;
    }
  }

  .header__logo > div {
    padding-right: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header__brand-name {
    font-size: 2rem;
    line-height: 1;
    padding-top: 20px;
    text-transform: uppercase;
    color: #319d57;
    font-weight: bold;
    hr {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      max-width: 205px;
      border-color: #319d57;
      border-width: 2px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: -2px;
        left: 0;
        height: 2px;
        width: 111px;
        background-color: #3f5972;
      }
    }
    span:first-child {
      color: #3f5972;
    }

    .logo-sub-text {
      color: #fff;
      font-size: 1rem;
      text-transform: uppercase;
    }
  }

  .banner-logo {
    width: 180px;
    height: auto;
  }

  .header__message {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;

    .text-green {
      color: #319d57;
    }
  }
}